HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Properties ###
# src/main/resources/application-API_KEY.properties
# src/main/resources/application-DB.properties
application-API-KEY.properties
application-DB.properties
campersbackup20230217.sql

normalization.txt
gpt_recommend.txt
gpt-update-sol.txt